h1 = @question.title
p = @question.body

- @question.answers.each do |answer|
  p = answer.body

= link_to 'Add answer', new_question_answer_path(@question)
= link_to 'Remove', question_path(@question), method: 'delete'
