$('.cancel_subscribe').after('<a class="create_subscribe" data-remote="true" rel="nofollow" data-method="post" ' +
    'href="<%= question_subscriptions_path(@question) %>">Create subscription</a>');
$('.cancel_subscribe').hide();
